body {
    font-family: Arial;
}

.Subscribe-button {
    border: none;
    color: white;
    background-color: black;
    border-radius: 50px;
    padding: 12px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 30px;
}

.is-subscribed {
    background-color: rgb(214, 213, 213);
    color: black;
}

.calculator {
    background-color: rgb(4, 151, 4);
    font-size: 15px;
    color: white;
    padding: 11px 15px;
    cursor: pointer;
    border: none;
}

.cost-input {
    font-size: 15px;
    padding: 10px;
}

.title {
    font-size: 30px;
    font-weight: bold;
}

.move-icon {
    height: 50px;
}

.move-button {
    background-color: transparent;
    border: 3px solid white;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin-right: 10px;
    cursor: pointer;

}